span {
    display: block;
    font-family: monospace;
    white-space:  nowrap;
    border-right: 4px solid;
    width: 12ch;

    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hiden;
}
@keyframes typing{
    from{with: 0}
}

@keyframes blink{
    50% {border-color: transparent}
}